html, body{
    height: 100%;
}

header {
    margin: 0px;
    padding: 5px;
}

.container {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    font-family: 'Roboto Slab', serif;
}

#title {
    font-size: 50px;
    color: steelblue;
    font-weight: bold;
}

.container .bgImage {
    position: absolute;
    bottom:0;
    z-index: -1;
    background-image: url("../images/TV.jpg");
    opacity: 0.4;
    width: 100%;
    height: 100%;
    background-attachment: fixed;
    background-size: auto;
}

.tvShow {
    border: 1.5px dotted;
}

.btnDisplay {
    margin: 10px;
}

.btn-space {
    margin: 3px;
}

#tvShow-form {
    margin: 4px;
}

#whatShow {
    font-size: 30px;
}

.dropGifs {
    color: steelblue;
    font-weight: bold;
    font-style: oblique;
}

.gifsView {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
}

.gifsView .bgImage {
    position: absolute;
    z-index: -1;
    background-image: url("../images/TV.jpg");
    opacity: 0.4;
    background-attachment: fixed;
    width: 960px;
}
