.container {
    position:relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    font-family: 'Roboto Slab', serif
}

.container .bgImage {
    position: absolute;
    z-index: -1;
    background-image: url("../images/TV.jpg");
    opacity: 0.4;
    width: 100%;
    height: 100%;
}

.btn-space {
    margin: 3px;
}